# "generic" list of dependencies (i.e. not OS-specific)
# Python>=3.6
django>=2.2.13
Pillow
PyGreSQL
Pygments
Wand
certifi
chardet
colour
coverage
dirq
django-extensions
django-filter
django-positions
djangorestframework
idna
itsdangerous
numpy
psycopg2
pyasn1
pymongo
pysmb
requests
requests_toolbelt
six
solrpy
static-ranges
typing
urllib3
django-mobileesp
# wsgiref
