# "generic" list of dependencies (i.e. not OS-specific)
# Python>=3.8, but Django <3 for now
django
Pillow
PyGreSQL
Pygments
Wand
certifi
chardet
colour
coverage
dirq
django-extensions
django-filter
django-positions
djangorestframework
idna
itsdangerous
lxml
matplotlib
numpy
pandas
psycopg2
pyasn1
pymongo
requests
requests_toolbelt
six
solrpy
static-ranges
urllib3
django-mobileesp
# wsgiref
