<div id="maps">
    <p><a target="new" href="https://github.com/BNHM/berkeleymapper/blob/master/README.md">BerkeleyMapper 2.0</a> is a
        mapping interface for Collections (or other) Databases built on top of Google Maps.
        If your query results contain items with latitudes and longitudes, you may plot them using this
        sophisticated interface.
    </p>
    <button type="button" name="map-bmapper" id="map-bmapper" class="prettyBtn">map selected with Berkeley Mapper</button>
    {% if berkeleymapper %}
        <div style="height: 30px; padding-top: 15px;">
        <a href="{{ bmapperurl }}">{{ bmapperurl }}</a>
        </div>
    {% endif %}
    <hr/>
    <!--
    {% if user.is_active and user.is_staff %}
        <p><a target="new" href="">KML</a> is the proprietary markup language used to describe to Google's map
        API and applications how to make maps.  Click this button to have a "generic" KML file created for your results,
        that can be used in Google Earth and other apps.
    </p>
    <button type="button" name="map-kml" id="map-kml" class="prettyBtn">download KML file</button>
    <hr/>
    {% endif %}
    -->
    <p>The <a target="new" href="https://developers.google.com/maps/documentation/staticmaps/intro">Google Static Maps API</a>
        lets you embed a Google Maps image on a web page (like this one) without requiring JavaScript or any dynamic page loading.
        The Static Maps API service creates your map based on URL parameters sent through a standard HTTP request and
        returns the map as an image you can copy and use in your own documents.  This widget only plots the points selected on the
        first page of your search results, and at any rate the limit on the number of points plotted is about 100 due to limits
        on the length of URLs. If items in the first page do not have coordinates, they will not be plotted, of course!
        Click on the link below to see the map and get the embedabble link.
    </p>
    <button type="button" name="map-google" id="map-google" class="prettyBtn">map selected with Google staticmaps API</button>
    <div style="height: 30px; padding-top: 15px;">
    {% for m in mapmsg %}
        <p style="color:red">{{ m }}</p>
    {% endfor %}
    </div>
    {% if markerlist %}
    <img src="https://maps.google.com/maps/api/staticmap?size=1000x800&maptype=roadmap&markers={{ markerlist }}&sensor=false&key=AIzaSyBeDzud2rQvl70-TFgsdlMa9vsUl_vidZk"/>
    <hr/>
    <a target="new" href="https://maps.google.com/maps/api/staticmap?size=1000x800&maptype=roadmap&markers={{ markerlist }}&sensor=false&key=AIzaSyBeDzud2rQvl70-TFgsdlMa9vsUl_vidZk">This is the link</a>
        for the map above, in case you want to keep it for future use.
    {% endif %}
</div>
